<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      h3{
        color: cadetblue;
      }
      h2{
        color: brown;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Login : Đăng nhập</h2>
    <h3> Post {"phone":"","password":"",} : http://vietnails.cf/api/login/</h3>
    <hr/>
    <h2>User : tài khoản</h2>
    <h3> Get User : http://vietnails.cf/api/user/</h3>
    <h3> Get User ID : http://vietnails.cf/api/user/:userId</h3>
    <h3> Post User  : http://vietnails.cf/api/user/</h3>
    <h3> Put User : http://vietnails.cf/api/user/edit/:userId</h3>
    <h3> Delete User : http://vietnails.cf/api/user/delete/:userId</h3>
    <hr/>
    <h2>Service : thông tin dịch vụ Nails của cửa hàng</h2>
    <h3> Get Service : http://vietnails.cf/api/service/</h3>
    <h3> Get Service ID : http://vietnails.cf/api/service/:serviceId</h3>
    <h3> Post Service  : http://vietnails.cf/api/service/</h3>
    <h3> Put Service : http://vietnails.cf/api/service/edit/:serviceId</h3>
    <h3> Delete Service : http://vietnails.cf/api/service/delete/:serviceId</h3>
    <hr/>
    <h2>Schedule : thông tin đặt lich , lịch sử đặt lịch</h2>
    <h3> Get Schedule : http://vietnails.cf/api/schedule/</h3>
    <h3> Get Schedule ID : http://vietnails.cf/api/schedule/:serviceId</h3>
    <h3> Post Schedule  : http://vietnails.cf/api/schedule/</h3>
    <h3> Put Schedule : http://vietnails.cf/api/schedule/edit/:serviceId</h3>
    <h3> Delete Schedule : http://vietnails.cf/api/schedule/delete/:serviceId</h3>
    <hr/>
    <h2>Shop : Thông tin chửa hàng</h2>
    <h3> Get Shop : http://vietnails.cf/api/schedule/</h3>
    <h3> Get Shop ID : http://vietnails.cf/api/schedule/:shopId</h3>
    <h3> Post Shop  : http://vietnails.cf/api/schedule/</h3>
    <h3> Put Shop : http://vietnails.cf/api/schedule/edit/:shopId</h3>
    <h3> Delete Shop : http://vietnails.cf/api/schedule/delete/:shopId</h3>
    <hr/>
  </body>
</html>
